[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "clap-juce-extensions"]
	path = clap-juce-extensions
	url = /clap-juce-extensions
[submodule "libs"]
	path = libs
	url = ./libs
